<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EneryWalletEndPoint</key>
	<string>http://192.168.0.100:8080</string>
	<key>CreateUserURI</key>
	<string>/api/user</string>
	<key>LoginUserURI</key>
	<string>/api/login</string>
	<key>GetRegionURI</key>
	<string>/api/geography/region</string>
	<key>GetStreetURI</key>
	<string>/api/geography/street
Только что
/api/geography/street
Только что
/api/geography/street
Только что
</string>
	<key>phone</key>
	<string></string>
	<key>email</key>
	<string></string>
	<key>password</key>
	<string></string>
	<key>region</key>
	<string></string>
	<key>street</key>
	<string></string>
	<key>city</key>
	<string></string>
	<key>number</key>
	<string></string>
	<key>date</key>
	<string></string>
</dict>
</plist>
