<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EneryWalletEndPoint</key>
	<string>http://192.168.0.100:8080</string>
	<key>CreateUserURI</key>
	<string>/api/user</string>
	<key>LoginUserURI</key>
	<string>/api/login</string>
	<key>GetRegionURI</key>
	<string>/api/geography/region</string>
	<key>GetStreetURI</key>
	<string>/api/geography/street
Только что
/api/geography/street
Только что
/api/geography/street
Только что
</string>
	<key>GetStatisticsURI</key>
	<string>/api/blackout/statistics</string>
	<key>GetBlackoutCityURI</key>
	<string>/api/blackout/city</string>
	<key>GetBlackoutStreetURI</key>
	<string>/api/blackout/street</string>
	<key>GetBlackoutAdress</key>
	<string>/api/blackout/address</string>
	<key>CreateAccountURI</key>
	<string>/api/account/create</string>
	<key>CreateAccountAdressURI</key>
	<string>/api/account/address/add</string>
	<key>GetAdressListURI</key>
	<string>/api/account/address/list</string>
	<key>DeleteAccountAdressURI</key>
	<string>/api/account/address/delete</string>
	<key>ReportsAlarmsURI</key>
	<string>/api/reports/alarm</string>
	<key>ReportsComplainURI</key>
	<string>/api/reports/complain</string>
	<key>phone</key>
	<string></string>
	<key>email</key>
	<string></string>
	<key>password</key>
	<string></string>
	<key>region</key>
	<string></string>
	<key>street</key>
	<string></string>
	<key>city</key>
	<string></string>
	<key>number</key>
	<string></string>
	<key>date</key>
	<string></string>
</dict>
</plist>
